body {
  font-family: Arial, sans-serif;
  background: black;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.box {
  background: black;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 6px;
}

input, textarea, button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
}

button {
  background: #ff3c00;
  color: orange;
  border: none;
  cursor: pointer;
}

.order {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

input:required, textarea:required {
  border-left: 4px solid red;
}
